<h2>Monster Name: <%= monster.name %></h2>
<h3>How Terrible is <%= monster.name %>?</h3>
<h4>Terribleness Level: <%= monster.terribleness_level %></h4>
<h5>Born: <%= monster.created_at %></h5>
<%= link_to   %>